<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.iit.sat.itmd4515.ryang27lab5.mapper.AnimalMapper">

    <resultMap id="BaseResultMap" type="edu.iit.sat.itmd4515.ryang27lab5.pojo.Animal">
            <id property="aid" column="aid" jdbcType="INTEGER"/>
            <result property="aname" column="aname" jdbcType="VARCHAR"/>
            <result property="anum" column="anum" jdbcType="INTEGER"/>
            <result property="ename" column="ename" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        aid,aname,anum,
        ename
    </sql>
</mapper>
