<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.iit.sat.itmd4515.ryang27lab5.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="edu.iit.sat.itmd4515.ryang27lab5.pojo.City">
            <id property="cid" column="cid" jdbcType="INTEGER"/>
            <result property="cname" column="cname" jdbcType="VARCHAR"/>
            <result property="ctype" column="ctype" jdbcType="VARCHAR"/>
            <result property="ename" column="ename" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        cid,cname,ctype,
        ename
    </sql>
</mapper>
