<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.iit.sat.itmd4515.ryang27lab5.mapper.EventMapper">

    <resultMap id="BaseResultMap" type="edu.iit.sat.itmd4515.ryang27lab5.pojo.Event">
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="date" column="date" jdbcType="DATE"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        name,date,type,
        remark
    </sql>
</mapper>
